.star {
  position: absolute;
  opacity: 1;
  /*mix-blend-mode: overlay;*/
  width: 3px;
  height: 3px;
  border-radius: 50%;
}

.star-enter {
  opacity: 0;
}

.star-enter.star-enter-active {
  opacity: 1;
  transition: opacity 2s ease;
}

.star-leave {
  opacity: 1;
}

.star-leave.star-leave-active {
  opacity: 0;
  transition: opacity 2s ease;
}
